In [3]:
# === Actividad Semana 4 ===
# Manejo de Series, DataFrames y archivos CSV con pandas

import pandas as pd

# === Dataset base ===
datos = {
    'nombre':   ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad':     [25, 30, 22, None, 28],
    'ciudad':   ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio':   [1200, 800, 300, 1150, None],
    'stock':    [10, 15, 5, 8, 0]
}

df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Guarda el dataset base
df.to_csv('actividad_semana4.csv', index=True)
print("=== Dataset base ===")
print(df, "\n")


# === 1) Series — crear y operar ===
serie_lista = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
serie_dict = pd.Series({'x': 5, 'y': 10, 'z': 15})

# Acceder, modificar y operar
valor_b = serie_lista['b']
serie_lista['c'] = 35
serie_doble = serie_lista * 2

print("=== Series desde lista ===")
print(serie_lista)
print("\n=== Series desde diccionario ===")
print(serie_dict)
print("\n=== Series multiplicada por 2 ===")
print(serie_doble, "\n")


# === 2) DataFrame — crear y explorar ===
df2 = pd.DataFrame({
    'producto': ['Mouse', 'Teclado', 'Monitor'],
    'precio': [50, 80, 300],
    'stock': [20, 10, 5]
}, index=['p1', 'p2', 'p3'])

print("=== DataFrame personalizado ===")
print(df2, "\n")

print("Columna precio:\n", df2['precio'], "\n")
print("Fila por etiqueta (loc['p2']):\n", df2.loc['p2'], "\n")
print("Fila por posición (iloc[1]):\n", df2.iloc[1], "\n")


# === 3) Operaciones básicas ===
df['precio_descuento'] = df['precio'] * 0.9
df['edad_multiplicada'] = df['edad'] * 2

print("=== DataFrame con operaciones ===")
print(df, "\n")


# === 4) Manejo de datos faltantes ===
print("=== Valores nulos ===")
print(df.isna().sum(), "\n")

df['edad'].fillna(0, inplace=True)
df['ciudad'].fillna('Desconocido', inplace=True)
df['precio'].fillna(0, inplace=True)

print("=== DataFrame con nulos completados ===")
print(df, "\n")


# === 5) Selección y filtrado ===
filtro_precio = df[df['precio'] > 500]
filtro_laptop = df[(df['producto'] == 'Laptop') & (df['stock'] > 5)]

print("=== Filas con precio > 500 ===")
print(filtro_precio, "\n")

print("=== Filas con producto 'Laptop' y stock > 5 ===")
print(filtro_laptop, "\n")


# === 6) Ordenar datos ===
df_edad_asc = df.sort_values(by='edad', ascending=True)
df_precio_desc = df.fillna({'precio': 0}).sort_values(by='precio', ascending=False)

print("=== Ordenado por edad ascendente ===")
print(df_edad_asc, "\n")

print("=== Ordenado por precio descendente (nulos reemplazados por 0) ===")
print(df_precio_desc, "\n")


# === 7) Estadísticas básicas ===
print("=== Estadísticas numéricas ===")
print(df.describe(), "\n")

print("=== Frecuencia de productos ===")
print(df['producto'].value_counts(), "\n")


# === 8) Leer y guardar datos ===
df_leido = pd.read_csv('actividad_semana4.csv', index_col=0)
print("=== Archivo leído desde CSV ===")
print(df_leido.head(), "\n")

df_leido[['nombre', 'producto', 'precio']].to_csv('actividad_semana4_reducido.csv', index=True)
print("Se ha guardado 'actividad_semana4_reducido.csv'\n")


# === 9) Ejercicio integrado ===
df_integrado = df.copy()
df_integrado['precio_descuento'] = df_integrado['precio'] * 0.9
df_final = df_integrado[df_integrado['stock'] > 5].sort_values(by='precio_descuento', ascending=True)
df_final.to_csv('inventario_procesado.csv', index=False)

print("=== Inventario procesado ===")
print(df_final)

=== Dataset base ===
  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
d  Diego   NaN  Medellín    Laptop  1150.0      8
e    Eva  28.0      None    Tablet     NaN      0

=== Series desde lista ===
a    10
b    20
c    35
d    40
dtype: int64

=== Series desde diccionario ===
x     5
y    10
z    15
dtype: int64

=== Series multiplicada por 2 ===
a    20
b    40
c    70
d    80
dtype: int64

=== DataFrame personalizado ===
   producto  precio  stock
p1    Mouse      50     20
p2  Teclado      80     10
p3  Monitor     300      5

Columna precio:
 p1     50
p2     80
p3    300
Name: precio, dtype: int64

Fila por etiqueta (loc['p2']):
 producto    Teclado
precio           80
stock            10
Name: p2, dtype: object

Fila por posición (iloc[1]):
 producto    Teclado
precio           80
stock            10
Name: p2, dtype: object

=== DataFrame con operaciones ===
  nombre  edad    ciudad  producto  precio  stock  precio_descuento  \
a    Ana  25.0    Madrid    Laptop  1200.0     10            1080.0
b    Bob  30.0      Lima  Teléfono   800.0     15             720.0
c  Clara  22.0    Bogotá    Tablet   300.0      5             270.0
d  Diego   NaN  Medellín    Laptop  1150.0      8            1035.0
e    Eva  28.0      None    Tablet     NaN      0               NaN

   edad_multiplicada
a               50.0
b               60.0
c               44.0
d                NaN
e               56.0

=== Valores nulos ===
nombre               0
edad                 1
ciudad               1
producto             0
precio               1
stock                0
precio_descuento     1
edad_multiplicada    1
dtype: int64

=== DataFrame con nulos completados ===
  nombre  edad       ciudad  producto  precio  stock  precio_descuento  \
a    Ana  25.0       Madrid    Laptop  1200.0     10            1080.0
b    Bob  30.0         Lima  Teléfono   800.0     15             720.0
c  Clara  22.0       Bogotá    Tablet   300.0      5             270.0
d  Diego   0.0     Medellín    Laptop  1150.0      8            1035.0
e    Eva  28.0  Desconocido    Tablet     0.0      0               NaN

   edad_multiplicada
a               50.0
b               60.0
c               44.0
d                NaN
e               56.0

=== Filas con precio > 500 ===
  nombre  edad    ciudad  producto  precio  stock  precio_descuento  \
a    Ana  25.0    Madrid    Laptop  1200.0     10            1080.0
b    Bob  30.0      Lima  Teléfono   800.0     15             720.0
d  Diego   0.0  Medellín    Laptop  1150.0      8            1035.0

   edad_multiplicada
a               50.0
b               60.0
d                NaN

=== Filas con producto 'Laptop' y stock > 5 ===
  nombre  edad    ciudad producto  precio  stock  precio_descuento  \
a    Ana  25.0    Madrid   Laptop  1200.0     10            1080.0
d  Diego   0.0  Medellín   Laptop  1150.0      8            1035.0

   edad_multiplicada
a               50.0
d                NaN

=== Ordenado por edad ascendente ===
  nombre  edad       ciudad  producto  precio  stock  precio_descuento  \
d  Diego   0.0     Medellín    Laptop  1150.0      8            1035.0
c  Clara  22.0       Bogotá    Tablet   300.0      5             270.0
a    Ana  25.0       Madrid    Laptop  1200.0     10            1080.0
e    Eva  28.0  Desconocido    Tablet     0.0      0               NaN
b    Bob  30.0         Lima  Teléfono   800.0     15             720.0

   edad_multiplicada
d                NaN
c               44.0
a               50.0
e               56.0
b               60.0

=== Ordenado por precio descendente (nulos reemplazados por 0) ===
  nombre  edad       ciudad  producto  precio  stock  precio_descuento  \
a    Ana  25.0       Madrid    Laptop  1200.0     10            1080.0
d  Diego   0.0     Medellín    Laptop  1150.0      8            1035.0
b    Bob  30.0         Lima  Teléfono   800.0     15             720.0
c  Clara  22.0       Bogotá    Tablet   300.0      5             270.0
e    Eva  28.0  Desconocido    Tablet     0.0      0               NaN

   edad_multiplicada
a               50.0
d                NaN
b               60.0
c               44.0
e               56.0

=== Estadísticas numéricas ===
            edad       precio     stock  precio_descuento  edad_multiplicada
count   5.000000     5.000000   5.00000          4.000000                4.0
mean   21.000000   690.000000   7.60000        776.250000               52.5
std    12.124356   527.257053   5.59464        373.572282                7.0
min     0.000000     0.000000   0.00000        270.000000               44.0
25%    22.000000   300.000000   5.00000        607.500000               48.5
50%    25.000000   800.000000   8.00000        877.500000               53.0
75%    28.000000  1150.000000  10.00000       1046.250000               57.0
max    30.000000  1200.000000  15.00000       1080.000000               60.0

=== Frecuencia de productos ===
producto
Laptop      2
Tablet      2
Teléfono    1
Name: count, dtype: int64

=== Archivo leído desde CSV ===
  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
d  Diego   NaN  Medellín    Laptop  1150.0      8
e    Eva  28.0       NaN    Tablet     NaN      0

Se ha guardado 'actividad_semana4_reducido.csv'

=== Inventario procesado ===
  nombre  edad    ciudad  producto  precio  stock  precio_descuento  \
b    Bob  30.0      Lima  Teléfono   800.0     15             720.0
d  Diego   0.0  Medellín    Laptop  1150.0      8            1035.0
a    Ana  25.0    Madrid    Laptop  1200.0     10            1080.0

   edad_multiplicada
b               60.0
d                NaN
a               50.0